@font-face {
  font-family: "Starjedi";
  src: local("Starjedi"),
    url("./fonts/Starjedi.ttf") format("truetype");
  font-weight: normal;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Starjedi';
}
body {
  padding: 0;
  margin: 0;
}